body{
    text-align: center;
    margin-top: 20%;
}
div{
    display: inline-block;
    background-color: lightsalmon;
    width: fit-content;
    border-radius: 20px;
}

.content{
    padding: 150px;
    color: darkslategrey;

}
.content > h1{
    font-size: 50px;
}
.content > p {
    font-size: 30px;
}
